<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antilosedevice"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
   <!--  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/> -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.antilosedevice.MyApplication" >
        <activity
            android:name="com.antilosedevice.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.antilosedevice.service.ConnectService_bluetooth_4"/>
         <service android:name="com.antilosedevice.service.ConnectService_bluetooth_Under4"/>
        <meta-data android:value="54851b5ffd98c503fe00128d" android:name="UMENG_APPKEY"></meta-data>
			<meta-data android:value="test" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
